.PurpleColor {
  color: var(--purple);
}
.GreyColor {
  color: var(--greyColor);
}
.GreyTransparentColor {
  color: var(--greyTransparentColor);
}
.WhiteColor {
  color: var(--whiteColor);
}

.PurpleBackground {
  background: var(--purple);
}
.GreyBackground {
  background: var(--greyColor);
}
.GreyTransparentBackground {
  background: var(--greyTransparentColor);
}
.WhiteBackground {
  background: var(--whiteColor);
}
