.FontSize72 {
  font-size: 72px;
}

.FontSize64 {
  font-size: 64px;
}

.FontSize56 {
  font-size: 56px;
}

.FontSize48 {
  font-size: 48px;
}

.FontSize40 {
  font-size: 40px;
}

.FontSize32 {
  font-size: 32px;
}

.FontSize24 {
  font-size: 24px;
}
.FontSize16 {
  font-size: 16px;
}
.FontSize8 {
  font-size: 8px;
}

.FontWeight700 {
  font-weight: 700;
}

.FontWeight600 {
  font-weight: 600;
}

.FontWeight500 {
  font-weight: 500;
}
.FontWeight400 {
  font-weight: 400;
}
.FontWeight300 {
  font-weight: 300;
}
