.PaddingTop72 {
  padding-top: 72px;
}

.PaddingTop64 {
  padding-top: 64px;
}

.PaddingTop56 {
  padding-top: 56px;
}

.PaddingTop48 {
  padding-top: 48px;
}

.PaddingTop40 {
  padding-top: 40px;
}

.PaddingTop32 {
  padding-top: 32px;
}

.PaddingTop24 {
  padding-top: 24px;
}
.PaddingTop16 {
  padding-top: 16px;
}
.PaddingTop8 {
  padding-top: 8px;
}

.PaddingBottom72 {
  padding-bottom: 72px;
}

.PaddingBottom64 {
  padding-bottom: 64px;
}

.PaddingBottom56 {
  padding-bottom: 56px;
}

.PaddingBottom48 {
  padding-bottom: 48px;
}

.PaddingBottom40 {
  padding-bottom: 40px;
}

.PaddingBottom32 {
  padding-bottom: 32px;
}

.PaddingBottom24 {
  padding-bottom: 24px;
}
.PaddingBottom16 {
  padding-bottom: 16px;
}
.PaddingBottom8 {
  padding-bottom: 8px;
}

.PaddingLeft72 {
  padding-left: 72px;
}

.PaddingLeft64 {
  padding-left: 64px;
}

.PaddingLeft56 {
  padding-left: 56px;
}

.PaddingLeft48 {
  padding-left: 48px;
}

.PaddingLeft40 {
  padding-left: 40px;
}

.PaddingLeft32 {
  padding-left: 32px;
}

.PaddingLeft24 {
  padding-left: 24px;
}
.PaddingLeft16 {
  padding-left: 16px;
}
.PaddingLeft8 {
  padding-left: 8px;
}

.PaddingRight72 {
  padding-right: 72px;
}

.PaddingRight64 {
  padding-right: 64px;
}

.PaddingRight56 {
  padding-right: 56px;
}

.PaddingRight48 {
  padding-right: 48px;
}

.PaddingRight40 {
  padding-right: 40px;
}

.PaddingRight32 {
  padding-right: 32px;
}

.PaddingRight24 {
  padding-right: 24px;
}
.PaddingRight16 {
  padding-right: 16px;
}
.PaddingRight8 {
  padding-right: 8px;
}

// Margin

.MarginTop72 {
  margin-top: 72px;
}

.MarginTop64 {
  margin-top: 64px;
}

.MarginTop56 {
  margin-top: 56px;
}

.MarginTop48 {
  margin-top: 48px;
}

.MarginTop40 {
  margin-top: 40px;
}

.MarginTop32 {
  margin-top: 32px;
}

.MarginTop24 {
  margin-top: 24px;
}
.MarginTop16 {
  margin-top: 16px;
}
.MarginTop8 {
  margin-top: 8px;
}

.MarginBottom72 {
  margin-bottom: 72px;
}

.MarginBottom64 {
  margin-bottom: 64px;
}

.MarginBottom56 {
  margin-bottom: 56px;
}

.MarginBottom48 {
  margin-bottom: 48px;
}

.MarginBottom40 {
  margin-bottom: 40px;
}

.MarginBottom32 {
  margin-bottom: 32px;
}

.MarginBottom24 {
  margin-bottom: 24px;
}
.MarginBottom16 {
  margin-bottom: 16px;
}
.MarginBottom8 {
  margin-bottom: 8px;
}

.MarginLeft72 {
  margin-left: 72px;
}

.MarginLeft64 {
  margin-left: 64px;
}

.MarginLeft56 {
  margin-left: 56px;
}

.MarginLeft48 {
  margin-left: 48px;
}

.MarginLeft40 {
  margin-left: 40px;
}

.MarginLeft32 {
  margin-left: 32px;
}

.MarginLeft24 {
  margin-left: 24px;
}
.MarginLeft16 {
  margin-left: 16px;
}
.MarginLeft8 {
  margin-left: 8px;
}

.MarginRight72 {
  margin-right: 72px;
}

.MarginRight64 {
  margin-right: 64px;
}

.MarginRight56 {
  margin-right: 56px;
}

.MarginRight48 {
  margin-right: 48px;
}

.MarginRight40 {
  margin-right: 40px;
}

.MarginRight32 {
  margin-right: 32px;
}

.MarginRight24 {
  margin-right: 24px;
}
.MarginRight16 {
  margin-right: 16px;
}
.MarginRight8 {
  margin-right: 8px;
}
