.Reports {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 32px;

  h2 {
    color: var(--greyColor);

    margin-top: 32px;
    margin-bottom: 16px;
  }
}
.Inputs {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin-top: 32px;
  margin-bottom: 40px;

  div {
    display: flex;
    flex-direction: column;

    label {
      font-size: 18px;

      font-weight: 500;
    }

    input {
      height: 40px;

      outline: none;
      border-radius: 3px;
      border: 1px solid var(--greyColor);
      box-shadow: 2px 1px 1px 1px var(--greyTransparentColor);

      padding: 0 8px;
      margin-top: 8px;

      font-size: 16px;
    }

    &:first-child {
      margin-right: 24px;
    }
  }

  button {
    height: 40px;
    background: var(--greyColor);
    box-shadow: 2px 1px 1px 1px var(--greyTransparentColor);
    border: none;
    border-radius: 3px;
    color: var(--whiteColor);
    font-size: 16px;
    font-weight: 500;
    padding: 0 16px;
    margin-left: 16px;
    cursor: pointer;

    &:last-child {
      background: var(--whiteColor);
      border: 1px solid var(--greyColor);
      color: var(--greyColor);
    }
  }
}

.Chart {
  position: relative;
  width: 75vw;
}
.Doug {
  position: relative;
  width: 50vw;
}
